*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 375px;
}

.hamburger {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 2px 0;
}

.hamburger-main {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.status-image {
  width: 375px;
  padding: 0px;
  margin: 0px;
}

.frame {
  width: 375px;
  display: block;
}

nav {
  background-color: #3FBDE4;
  margin: 0;
  padding: 10px 0 100px 10;
  width: 375px;
  height: 75px;
}

.back-nav {
  display: flex;
  margin-left: 10px;
}

.back {
  display: flex;
  padding-left: 8px;
  font-size: 1.4em;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 10px;
  font-size: 1.8em;
  color: white;
  margin: 1%;
  margin-bottom: 8px;
}

h3 {
  line-height: 0px;
  font-size: 1.4em;
  font: sans-serif;
  color: white;
  padding-top: 2%
}

span {
  font-weight: bold;
  font-size: 1.6em;
}

.direction-text {
  font-size: 1.4em;
}

.flex-container {
  display: flex;
  width: 375px;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.flex-container1 {
  display: flex;
  width: 375px;
  padding: 10px;
  border-bottom: 1px solid gray;
  background-color: #EEEDED;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.kid1 {
  display: flex;
  flex-direction: column;
}

.nav-main {
  display: flex;
  padding-top: 12px;
}

.header {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.kid2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.kid3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}

mark.red {
  color: #F62121;
  background-color: white;
}

#circle-1{
    background: #F1CC0B;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

#circle-2{
    background: #EF9A9A;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

#circle-3{
    background: #F63DFA;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

#circle-4{
    background: #234EE9;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

#circle-5{
    background: #F99B10;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

#circle-6{
    background: #D99AEF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

#circle-7{
    background: #4EA3E0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;

}

#circle-8{
    background: #2DC8AC;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

.innerTEXT{
    color: white;
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
